.card{
    margin: 20px;
    width: 225px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}
.card-header{
    height: 190px;
    overflow: hidden;
}
.card-header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.card-body{
    background-color: orangered;
    overflow: hidden;
    text-align: center;
    padding: 10px 5px 12px 5px;
    color: white;
    height: 30px;
}